aiohttp==3.11.12
beautifulsoup4==4.12.3
duckduckgo_search==7.3.2
Flask==3.1.0
langchain==0.3.18
langchain-community==0.3.17
langchain-core==0.3.34
langchain-mistralai==0.2.6
mistralai==1.5.0
python-dotenv==1.0.1
requests==2.32.3
